.service-card{
    width: 473px;
    height: 774px;
    background: #FFFFFF;
    border-radius: 29px;
    margin-left: 138px;
    margin-top: 44px;
    margin-bottom: 33px;
}
.service-card>img{
    width: 444px;
    height: 329px;
    display: block;
    margin: 3px auto;
}
.service-card>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 31.69px;
    text-align: center;
    margin-top: 11px;
}
.service-card>p{
    width: 391px;
    height: 216px;
    font-size: 18px;
    font-weight: 400;
    margin: 37px 41px 15px;
    color: #000633;
    letter-spacing: 3px;
    text-align: justify;
    /* line-height: 124%; */
}
.service-card>button{
    font-family: 'Montserrat', sans-serif;
    width: 219px;
    height: 60px;
    background-color: #2397CD;
    border-radius: 25px;
    display: block;
    margin: 40px auto 53px;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 3px;
    color: #FFFFFF;
    border: none;
}