*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.App{
    background-image: linear-gradient(to left, #00094D, #000424);
    color: #28ACE2;
    height: 1314px;
    width: 1920px;
}