.navBar{
    display: flex;
    justify-content: space-between;
    
}
.menuBar{
    position: absolute;
    left: 1500px;
    display: flex;
    margin-top: 92px;
    margin-right: 237px;
}
.logo>img{
    position: absolute;
    width: 205px;
    height: 42px;
    margin-left: 210px;
    margin-top: 88px;
}
.route{
    margin-right: 20px;
    height: 32px;
    font-weight: 500px;
    font-size: 21px;
    text-decoration: none;
    color: #8FE5FF;
    transition: 0.3s;
}
.home-nav:hover{
    margin-right: 25px;
    color: #D7F561;
    font-weight: 700;
}
.services-nav:hover{
    margin-right: 25px;
    color: #D7F561;
    font-weight: 700;
    margin-right: 35px;
}
.login-nav:hover{
    margin-right: 15px;
    color: #D7F561;
    font-weight: 700;
    margin-right: 25px;
}
